:root {
--white: hsl(0, 0%, 100%);
--slate-300: hsl(212, 45%, 89%);
--slate-500: hsl(216, 15%, 48%);
--slate-900: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  background-color: var(--white);
  border-radius: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  padding: 15px 15px 40px;
  text-align: center;
}

.container img {
  border-radius: 10px;
  margin-bottom: 20px;
}

.container h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--slate-900);
  margin: 0 10px 10px;
}

.container p {
  font-size: 15px;
  font-weight: 400;
  color: var(--slate-500);
  margin: 0 10px;
}
